
.img-container{
    margin:6px 6px;
    border: 4px solid #eee;
    box-shadow:#555 1px 1px 8px 1px;
    height: 660px;
    width: 1000px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float:left;
}

#caption{
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  padding: 13px;
  color: #222;
  background-color: #f5f5f5;
  margin:auto;
  border: 1px solid #bbb;
}

.caption-row{
  text-align: center;
}

.navigation-row{
  padding: 24px 0px 24px 8px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
