
.img-container{
    margin:24px;
    box-shadow:#555 1px 2px 8px 1px;
    min-height: 660px;
    min-width: 900px;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}

#caption{
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  padding: 18px;
  color: #222;
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  width: 900px;
}

.caption-row{
  padding: 24px;
  text-align: center;
}
